<ActionBar class="bg-slate-800"> 
  <Label class="text-lg text-white" text="Product app"></Label>
</ActionBar>

<StackLayout class="bg-slate-800 p-2">
  <button class="bg-green-500 h-12 rounded-xl text-white active:bg-green-600" text="Create new note" (tap)="onCreate()"></button>
  <ListView style="separator-color: transparent;" class="mt-4" [items]="products">
    <ng-template let-item="item" let-i="index">
        <FlexboxLayout 
            class="bg-white p-4 mx-4 rounded-xl shadow-md space-x-4 mb-4 border-l-4"
            flexDirection="row" 
            justifyContent="space-between" 
            alignItems="center"
        >
            <StackLayout class="flex-grow">
                <Label [text]="item.title" class="font-bold text-lg text-slate-800"></Label>
                <Label [text]="item.description | slice:0:30" class="text-sm text-gray-500"></Label>   
                <Label [text]="'Price: ' + item.price + '$'" class="text-base font-semibold text-green-500 mt-1"></Label>
                <Label [text]="'Status: ' + item.status" class="text-xs mt-1"></Label>
            </StackLayout>
          <FlexboxLayout flexDirection="column" class="space-y-2">
            <button (tap)="onEdit(item.id)" text="Edit" class="ml-auto rounded-xl text-sm bg-blue-600 text-white active:bg-blue-800"></button>
            <button (tap)="onDelete(item.id)" text="Delete" class="ml-auto rounded-xl text-sm  bg-red-600 text-white active:bg-red-800"></button> 
          </FlexboxLayout>
        </FlexboxLayout>
    </ng-template>
</ListView>
</StackLayout>
